@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
@import "reset.css";
@import "variables.css";
@import "./components/stat.css";
@import "./screen/login.css";
@import "./components/nav.css";
@import "./components/screen-header.css";
@import "./components/user-component.css";

body {
  font-family: "Open Sans", sans-serif;
  margin-top: 25px;
  height: 1000vh;
}
